@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&family=Ubuntu:wght@300&display=swap");
*,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(21, 122, 253, 0.685)), color-stop(40%, rgba(171, 250, 171, 0.623)), to(rgba(20, 164, 212, 0.877)));
  background: linear-gradient(to top, rgba(21, 122, 253, 0.685) 0%, rgba(171, 250, 171, 0.623) 40%, rgba(20, 164, 212, 0.877) 100%);
  background-attachment: fixed;
  background-size: cover;
}

body header {
  width: 100vw;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background: inherit;
}

body header .header-left-content {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header-left-content i {
  color: white;
  font-size: 25px;
  margin: 0 5%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

body header .header-left-content i:hover {
  opacity: 0.6;
}

body header .header-left-content a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0 7%;
  font-size: 20px;
}

body header .header-left-content a:hover {
  border-bottom: 3px solid whitesmoke;
  color: yellow;
}

@media screen and (max-width: 768px) {
  body header .header-left-content {
    position: relative;
    left: 5%;
  }
}

body header .header-right-content {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .header-right-content a {
  text-decoration: none;
  color: white;
  font-size: 19px;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body header .header-right-content a:hover {
  color: yellow;
}

@media screen and (max-width: 768px) {
  body header .header-right-content {
    display: none;
  }
}

body .menu {
  width: 25vw;
  height: 100%;
  background-color: white;
  background-blend-mode: unset;
  display: none;
  position: fixed;
  top: 10vh;
  left: 0;
  margin: none;
  overflow-y: scroll;
}

body .menu ul {
  width: 100%;
  height: 100%;
  background: inherit;
}

body .menu ul li {
  width: 100%;
  height: 8%;
  margin: auto;
  list-style-type: none;
  text-transform: capitalize;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  padding: 10px 0 0 10px;
}

body .menu ul li:hover {
  opacity: 1;
  background: white;
  font-size: 130%;
  border-right: 5px solid #242323;
  border-left: 5px solid #242321;
}

body .menu ul li a {
  text-decoration: none;
  color: #323232;
  text-align: center;
  display: block;
  width: 80%;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .menu ul li a:hover::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: block;
  background: tomato;
  position: relative;
  left: 40%;
}

body .menu ul li a:hover::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: block;
  background: tomato;
  position: relative;
  top: -2px;
  left: 40%;
}

body .menu.menu-toggle {
  position: fixed;
  z-index: 1;
  display: block;
  -webkit-animation: toggleMenu 0.4s 1 linear alternate forwards;
          animation: toggleMenu 0.4s 1 linear alternate forwards;
}

@-webkit-keyframes toggleMenu {
  0% {
    left: -40vw;
  }
  100% {
    left: 0;
  }
}

@keyframes toggleMenu {
  0% {
    left: -40vw;
  }
  100% {
    left: 0;
  }
}

body .home {
  width: 100%;
  height: 100vh;
  background-color: inherit;
  overflow: hidden;
  position: relative;
}

body .showcase {
  width: 35%;
  margin: 1.5% auto;
  background: white;
  border-radius: 5px;
  padding: 10px;
  height: 70vh;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  body .showcase {
    width: 60%;
    border-radius: 10px;
  }
}

@media screen and (max-width: 500px) {
  body .showcase {
    width: 75%;
  }
}

body .showcase.hide-showcase {
  position: relative;
  -webkit-animation: hideTodo 0.85s 1 linear alternate forwards;
          animation: hideTodo 0.85s 1 linear alternate forwards;
}

@-webkit-keyframes hideTodo {
  0% {
    left: 0;
  }
  100% {
    left: 200vw;
    display: none;
  }
}

@keyframes hideTodo {
  0% {
    left: 0;
  }
  100% {
    left: 200vw;
    display: none;
  }
}

body .showcase h1 {
  text-align: center;
  text-transform: capitalize;
  padding: 5px;
  margin: 2% auto;
  color: #224272;
  font-size: 25px;
  cursor: pointer;
  position: relative;
}

body .showcase h1 #welcome {
  color: #dc4d14;
}

body .showcase h1 #welcome::before {
  content: "";
  width: 170px;
  height: 40px;
  position: absolute;
  right: 3px;
  -webkit-animation: run 4s steps(10, end) infinite;
          animation: run 4s steps(10, end) infinite;
  background: white;
}

@-webkit-keyframes run {
  to {
    right: -170px;
  }
}

@keyframes run {
  to {
    right: -170px;
  }
}

body .showcase div {
  width: 90%;
  height: 25%;
  margin: auto;
  display: block;
}

body .showcase div label {
  display: block;
  padding: 3px 30px;
  text-transform: capitalize;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  body .showcase div label {
    text-align: center;
  }
}

body .showcase div input {
  width: 100%;
  height: 45px;
  padding: 2px 2px 2px 20px;
  outline: none;
  font-size: 13px;
  border: none;
  background: #eeecec;
  border-radius: 60px;
  color: #224272;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 500px) {
  body .showcase div input {
    font-size: 10px;
  }
}

body .showcase div input:hover {
  border: 2px solid teal;
}

body .showcase div input:active {
  border: 2px solid lightseagreen;
}

body .showcase div input:focus {
  border: 2px solid #04b2dd;
}

body #name.wrong-name,
body #password.wrong-password,
body #name.wrong-info,
body #password.wrong-info {
  animation: error 0.2s 6 linear alternate-reverse backwards;
}

@-webkit-keyframes error {
  0% {
    border: 2px solid red;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes error {
  0% {
    border: 2px solid red;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body .showcase button {
  width: 90%;
  height: 40px;
  display: block;
  margin: 2% auto;
  border: none;
  border-radius: 60px;
  outline: none;
  background-color: #224272;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

body .showcase button i {
  position: relative;
  left: 2%;
  animation: arrow 1s infinite linear reverse forwards;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body .showcase button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

body .showcase p {
  padding: 5px;
  margin-left: 5%;
  font-size: 13px;
  cursor: pointer;
}

body .showcase p a {
  text-decoration: none;
  color: brown;
}

body .showcase p span {
  float: right;
  margin-right: 5%;
}

@media screen and (max-width: 1090px) {
  body .showcase p {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  body .showcase p {
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

body .showcase .errormsg {
  text-align: center;
  margin-top: -3%;
  color: #f7224c;
  text-transform: capitalize;
  padding: 0 10px;
  display: none;
}

body .main {
  width: 100%;
  height: 75%;
  display: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  background: inherit;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  top: 20vh;
  left: 0;
}

body .main .todo-head {
  width: 25vw;
  height: 75vh;
  background: black;
  position: fixed;
  top: 17vh;
  right: 5vw;
  border-radius: 10px;
  -webkit-animation: profile 20s 1 linear alternate forwards;
          animation: profile 20s 1 linear alternate forwards;
}

@media screen and (max-width: 850px) {
  body .main .todo-head {
    width: 30vw;
  }
}

body .main .todo-head div {
  width: 100%;
  height: 50%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .todo-head div img {
  width: 50%;
  border-radius: 50%;
  z-index: 1;
  display: block;
  position: relative;
  -webkit-animation: nameimg 5s infinite linear alternate forwards;
          animation: nameimg 5s infinite linear alternate forwards;
}

body .main .todo-head h1,
body .main .todo-head h2,
body .main .todo-head h3 {
  color: #d3d1d1;
  text-align: center;
  font-size: 15px;
  padding: 6px;
  text-transform: capitalize;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  body .main .todo-head h1,
  body .main .todo-head h2,
  body .main .todo-head h3 {
    font-size: 12px;
  }
}

body .main .todo-head h2 {
  font-size: 12px;
}

@media screen and (max-width: 1000px) {
  body .main .todo-head {
    display: none;
  }
}

@-webkit-keyframes profile {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes profile {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes nameimg {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

@keyframes nameimg {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

body .main .todo-body {
  width: 35vw;
  min-height: 50vh;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 27%;
  margin: 1% auto;
}

@media screen and (max-width: 1000px) {
  body .main .todo-body {
    width: 60vw;
  }
}

@media screen and (max-width: 768px) {
  body .main .todo-body {
    width: 70vw;
    left: 15%;
  }
}

@media screen and (max-width: 430px) {
  body .main .todo-body {
    border-radius: 10px;
  }
}

body .main .todo-body h1 {
  text-transform: capitalize;
  font-size: 23px;
  font-weight: 500;
  padding: 10px;
  color: #224272;
  margin-left: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80px;
  width: 90%;
  position: relative;
}

body .main .todo-body h1::before {
  content: "";
  width: 170px;
  height: 26px;
  background: white;
  position: absolute;
  left: 0;
  -webkit-animation: text-run 4s steps(10, end) infinite;
          animation: text-run 4s steps(10, end) infinite;
}

body .main .todo-body h1 i {
  margin-right: 6%;
  color: #497be8;
  cursor: progress;
}

@-webkit-keyframes text-run {
  to {
    left: 170px;
  }
}

@keyframes text-run {
  to {
    left: 170px;
  }
}

body .main .todo-body #inputItem {
  width: 90%;
  height: 100px;
  margin: auto;
  display: block;
  padding: 10px;
  outline: none;
  border: 2px solid #f9f9f9;
  border-radius: 3px;
  background-color: #e6e6e6;
}

body .main .todo-body span .laugh {
  font-size: 40px;
  margin: 1% 10%;
  color: #497be8;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  body .main .todo-body span .laugh {
    position: relative;
    left: 35%;
  }
}

body .main .todo-body span .laugh:hover {
  color: teal;
}

body .main .todo-body span .laugh:active {
  -webkit-animation: laugh 2s infinite linear alternate forwards;
          animation: laugh 2s infinite linear alternate forwards;
}

@-webkit-keyframes laugh {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes laugh {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body .main .todo-body button {
  width: 40%;
  height: 35px;
  float: right;
  padding: 5px;
  margin: 2% 5%;
  border-radius: 10px;
  border: none;
  background-color: #4a7fe7;
  color: white;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  body .main .todo-body button {
    width: 90%;
    display: block;
    margin: 1% 5%;
  }
}

body .main .todo-body button:hover {
  background: teal;
}

body .main .todo-body button:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

body .main .todo-body #error {
  font-size: 12px;
  color: rgba(231, 16, 16, 0.938);
  text-align: center;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  body .main .todo-body #error {
    position: relative;
    margin: 3% 0 -2% 0;
    display: none;
    height: 40px;
    width: 90%;
  }
}

body .main .todo-body .todoItems {
  width: 95%;
  max-height: 60%;
  margin: 3% auto;
  margin-bottom: 2%;
  border-radius: 10px;
}

body .main .todo-body .todoItems ul {
  width: 100%;
}

body .main .todo-body .todoItems ul li {
  width: 95%;
  padding: 2px;
  margin: 1% auto;
  list-style-type: none;
  font-size: 15px;
  line-height: 23px;
  border-radius: 5px;
  display: inline-block;
  text-transform: capitalize;
  position: relative;
  background-color: #f5f5f5;
  border: 1px solid #e7e5e5;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .main .todo-body .todoItems ul li span {
  width: 15%;
  height: 100%;
  position: absolute;
  right: -20%;
  top: 0;
  background: #e74c3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

body .main .todo-body .todoItems ul li span i {
  border-radius: 5px;
  font-size: 26px;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body .main .todo-body .todoItems ul li span i:active {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

body .main .todo-body .todoItems ul li:hover span {
  right: 0;
}

body .main .todo-body .todoItems ul li i {
  font-size: 26px;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body .main .todo-body .todoItems ul li i:active {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

body .main .todo-body .todoItems ul li p {
  cursor: pointer;
  font-size: 15px;
  width: 90%;
  padding: 5px 0 0 30px;
  line-height: 23px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

body .main .todo-body .todoItems ul li p:nth-child(odd) {
  font-size: 10px;
  padding: -10px;
}

body .main .todo-body .todoItems ul li p #calendar {
  position: absolute;
  left: 1vw;
  top: 13px;
  font-size: 17px;
  color: #4a7fe7;
  cursor: pointer;
}

body .main .todo-body #pending {
  text-align: center;
  padding: 3px;
  text-transform: capitalize;
}

body .main .todo-body #pending #count {
  padding: 0 5px;
  color: red;
}

body .main .todo-body #reset {
  width: 90%;
  height: 35px;
  float: left;
  margin: 1% 5%;
  text-align: center;
}

body .main button:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

body .main.show-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  animation: show 2s 1 linear alternate-reverse forwards;
}

@-webkit-keyframes show {
  0% {
    top: -75vh;
  }
  100% {
    top: -10vh;
  }
}

@keyframes show {
  0% {
    top: -75vh;
  }
  100% {
    top: -10vh;
  }
}

body footer {
  width: 100vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f2f2f2;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  right: 70px;
}

body footer i {
  color: rgba(255, 228, 75, 0.966);
  padding: 0 4px;
}
/*# sourceMappingURL=style.css.map */