*{
    padding: 0;
    margin: 0;
}

body{
    scroll-behavior: smooth;
    background-color: inherit;
    overflow-x: hidden;
    nav{
        background-color: rgb(250,185,55);
        #container{
            padding: 0;
            margin: 0;
        .a{
            width: 40%;
            height: 100%;
            padding: 5px;
            font-size: 200%;
            text-decoration: none;
            transition: all 0.5s ease;
            color: white;
            &:hover{
                color: crimson;
            }
        }
        .collapse{
            width: 60%;
        }
        ul{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 80%;
            height: 100%;
            position: relative;
            top: 0;
            left: 20%;
            li{
                width: 100%;
                margin: 3%;
                a{
                    width: 100%;
                    text-transform: capitalize;
                    font-size: 150%;
                    transition: all 0.4s ease;
                    color: black;
                    &:hover{
                        color: tomato;
                        border: 2px solid mediumseagreen;
                    }
                }
            }
        }
        }
        
    }

    section{
        background-color: rgb(250,185,55);
        color: white;
        div{
            div{
                button{
                    width: 20%;
            position: relative;
            left: 20%;
            top: 30px;
                }
            }
        }
        
    }

    #section{
        div{
            div{
                box-shadow: 1px 3px 3px 2px gray;
                margin: 2%;
                h2{
                     padding: 5%;
                 }
                p{
                    padding: 5%;
                    // word-wrap:initial;
                    // word-break: break-all;
                }
                img{
                    width: 100%;
                    height: auto;
                    margin:1% auto;
                }
                &:last-child{
                    img{
                        width: 70%;
                        height: auto;
                        margin: 1% 10%;
                    }
                }
            }
        }
        
    }

    .form{
        width: 80%;
        height: auto;
        div{
            div{
                margin: 3% auto !important;
                padding: 5%;
                box-shadow: 1px 3px 3px 2px black;
                display: block;
                img{
                    width: 100%;
                    margin: 5% auto;
                }
                button{
                    margin: 3% auto;
                    transition: all 0.4s ease;
                    width: 100%;
                    &:hover{
                        background-color: crimson;
                    }
                }
            }
        }
        .buttons{
            margin: auto;
            button{
                background-color: lightgray;
                transition: all 0.6s ease;
                &:hover{
                    background-color: rgb(140, 12, 12);
                    color: yellow;
                }
            }
        }
    }
}